body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    background-color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.nav-bar {
    background-color: rgba(155, 155, 155, .25);
    border-right: 1px solid rgba(0, 0, 0, .2);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.nav-bar .pages {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: black;
}

.nav-bar .pages .page:nth-child(1) {
    margin-top: 20px;
}

.nav-bar .pages .page:nth-child(4) img {
    width: 40px;
    height: 40px;
    margin-left: 3px;
}

.nav-bar .pages .page:nth-child(4) #arrow {
    margin-left: 160px;
    width: 28px;
    height: 28px;
    rotate: 180deg;
}

.nav-bar .pages .page {
    margin-left: 20px;
    padding: 15px;
    /* padding-left: 80px; */
    width: 370px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.pages .page img {
    height: 43px;
    width: 43px;
}

.nav-bar .pages .page:hover {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 6px;
    cursor: pointer;
}

.nav-bar .active {
    background-color: rgba(0, 0, 0, .09);
    border-radius: 6px;
}

.nav-bar .projects-list {
    /* background-color: rgb(209, 209, 209); */
    max-height: 340px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
    font-size: .93rem;
}

.nav-bar .projects-list::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.nav-bar .projects-list .list:nth-child(1) {
    margin-top: 20px;
}

.nav-bar .projects-list .list {
    margin-left: 75px;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 300px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .projects-list .list:hover {
    background-color: rgba(0, 0, 0, .05);
}

.projects-list .list img {
    height: 8px;
    width: 8px;
}

.content {
    padding: 40px;
    position: relative;
}

.content .title {
    font-size: 1.6rem;
    text-transform: capitalize;
}

.content .tabs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    color: white;
    height: 90vh;
    overflow: scroll;
    margin-top: 15px;
    scrollbar-width: none;
}

.content .tabs::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.content .tab {
    display: flex;
    gap: 20px;
    background-color: coral;
    border-radius: 6px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    cursor: pointer;
}

.date {
    margin-left: auto;
    margin-right: 15px;
}

input[type='date'] {
    background: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: .93rem;
}

svg {
    fill: #ffffff;
    align-self: center;
}

.button-x {
    width: 12px;
    height: 12px;   
    margin-left: 25px;
}

.create-tab-button {
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 130px;
    right: 90px;
    border-radius: 100%;
    font-size: 1.5rem;
    border-style: none;
    background-color: rgb(255, 94, 0);
    color:white;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 94, 0, .9);
}

.create-window {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 300px;
    margin-top: 15px;
}

.create-project-input {
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    padding: 2px;
}

.create-project-button {
    margin-top: 10px;
    border: none;
}

.create-project-button:hover {
    background-color: rgb(255, 94, 0);
}